SPF Length

Hi there,

I believe that the RFC does not forbid SPF Records longer than 255 characters.
This is in both the older [RFC 4408](https://datatracker.ietf.org/doc/html/rfc4408#section-3.1.3) and the superseding [RFC 7208](https://datatracker.ietf.org/doc/html/rfc7208#section-3.3). For example in RFC 7208:

> As defined in [[RFC1035](https://datatracker.ietf.org/doc/html/rfc1035)], Sections [3.3](https://datatracker.ietf.org/doc/html/rfc7208#section-3.3) and [3.3.14](https://datatracker.ietf.org/doc/html/rfc7208#section-3.3.14), a single text DNS
>    record can be composed of more than one string.  If a published
>    record contains multiple character-strings, then the record MUST be
>    treated as if those strings are concatenated together without adding
>    spaces.

So I think the SPF Length should be changed. There is a [soft-limit ("SHOULD" instead of "MUST") mentioned](https://datatracker.ietf.org/doc/html/rfc7208#section-3.4), stating that SPF records should be less than 450 octets/bytes including the DNS name. If not, then there might be issues with UDP.

> The published SPF record for a given domain name SHOULD remain small
>    enough that the results of a query for it will fit within 512 octets.
>    Otherwise, there is a possibility of exceeding a DNS protocol limit.
> [...]
> Since the answer size
>    is dependent on many things outside the scope of this document, it is
>    only possible to give this guideline: If the size of the DNS message,
>    the combined length of the DNS name and the text of all the records
>    of a given type is under 450 octets, then DNS answers ought to fit in
>    UDP packets.  Records that are too long to fit in a single UDP packet
>    could be silently ignored by SPF verifiers due to firewall and other
>    issues that interfere with the operation of DNS over TCP or using
>    ENDS0.

I did quick and dirty fix for me (because I do not explicitly cared about UDP) like this:

```powershell
  foreach($Entry in $SPF) {
      if($Entry.Length -gt 255) {
          $SpfAdvisory = "Your SPF-record has more than 255 characters in one string. This MUST not be done explicitly defined in RFC4408"
      }
      $SpfTotalLenght += $Entry.Length
  }
  if($SpfTotalLenght -ge 450) {
      # See: https://datatracker.ietf.org/doc/html/rfc7208#section-3.4
      $SpfAdvisory += "Your SPF-record has more than 450 characters. This is SHOULD be avoided according to RFC7208."
  }
```

But I think we could do better. I can send a PR if you like. Also with something better than the mentioned quick and dirty fix, if you want.

Hi @diecknet,

Thanks for your comment. The RFC indeed does not limit the record to the maximum of 255 chars. I was already planning to update the module also on this point. If you have a PR with the script's update section, please do. All contributions from the community are greatly appreciated  